/* Chris Conti
VFW 1304
Project Style Sheet*/

h1 {
    background: #c1c1c1;
    font-family: droid-sans, copperplate;
    text-align: center;
    color: darkblue;
    letter-spacing: .01em;
}

body {
    background: #c1c1c1;
    font-family: droid-sans, arial;
    font-size: 17px;
}

p{
    font-family: droid-sans, arial;
    font-size: 120%;
}

.category{
    font-family: droid-sans, arial;
    color: darkblue;
    padding-top: 10px;
}



.warning{
    font-family: droid-sans, arial;
    font-size: 50%;
    color: red;
}


li{
    font-family: droid-sans, arial;
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    font-size: 15px;
}

legend{
    font-family: droid-sans, copperplate;
    color: darkblue;
    font-size: 200%;
}

.picker{
    display: block;
    font-family: droid-sans, arial;
    color: darkblue;
}

.bingo{
    width: 280px;

}

.booboo{
    color: darkred;
}

.covers{
    font-family: droid-sans, arial;
    color: black;

}